@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);


:root{

    --clr-gray:#4E5150;
    --clr-light-gray:#A9A9A9;
    --clr-bg-light-gray:#E5E5E5;

    --ff-montserrat:'Montserrat','sans-serif';
    

    --fs-1:0.875rem;
    --fs-2:1.125rem;
    --fs-3:1.5rem;

    --fw-600:600;
      
    --border-r-1:.75rem;
    --border-r-2:1rem;
}

/* 
----------
  RESET
----------
*/
*,
*::before,
*::after{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
  font-family: var(--ff-montserrat);

}
img{
  width: 100%;
  height: 100%;
}

/* 
----------
  COMMON
----------
*/
.h1{
  font-size:var(--fs-3);
}
.h2{
  font-size:var(--fs-2);
}
.h3{
  font-size:var(--fs-1);
}
.container{
  padding-inline:24px;
}
section{
  padding-block:24px;
}
.img-holder{
  overflow: hidden;
  border-radius: var(--border-r-2);
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:4px;
  border-radius: var(--border-r-1);
  background-color:var(--clr-bg-light-gray);
  padding:12px;
  width:90px;
}

/* 
----------
  USER
----------
*/
.user-profile{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:12px;
  max-width:300px;
  margin-inline:auto;
}
.user-profile .user-info{
  text-align: center;
}
.user-profile .username{
  margin-bottom: 5px;
  color:var(--clr-gray);
}
.user-profile .country{
  color:var(--clr-light-gray);
}
.user-img{
  width:150px;
}
.user-profile .status-list{
  display: flex;
  justify-content: space-between;
  gap:24px;
}

.card-no{
  color:var(--clr-gray);
  font-weight: var(--fw-600);

}
.card-text{
  color:var(--clr-light-gray);
  font-weight: var(--fw-600);
}
/* 
----------
  GALLERY
----------
*/
.gallery-list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  gap:12px;
  margin-bottom:24px;
}
.gallery-item{
  overflow: hidden;
  border-radius: 0.275rem;
}
.gallery-item:nth-child(1){
  /* grid-area:'img-1'; */
  grid-column: span 1;

}
.gallery-item:nth-child(2){
  /* grid-area:'img-2'; */
  grid-column: span 2;
}
.gallery-item:nth-child(3){
  /* grid-area:'img-3'; */
  grid-column: span 2;
  grid-row : 2 / span 1;
}
.gallery-item:nth-child(4){
  /* grid-area:'img-4'; */
  grid-column:3 / span 1;
  grid-row: 2 / span 2;
}
.gallery-item:nth-child(5){
  /* grid-area:'img-5'; */
  grid-column:1 /span 1;
}
.gallery-item:nth-child(6){
  /* grid-area:'img-6'; */  
  grid-column: 2 / span 1;

}

/* 
----------
  FOOTER
----------
*/
.footer{
  display: grid;
  place-items: center;
  padding-block:12px;
}





@media (min-width: 640px) { 
  .container{
    max-width: 1100px;
    margin-inline:auto;
  }
}
@media (min-width: 768px) { 

}
@media (min-width: 1024px) { 

}
@media (min-width: 1280px) { 

}
@media (min-width: 1536px) { 

}